.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 0 0 auto;
}

.App-link {
  color: #61dafb;
}

header {
	background-color: black;
	padding: 0.5rem;
}
nav a {
	padding: 0.2rem 1.5rem ;
	transition: 0.5s linear;
	text-decoration: none;
	color: white;
}
nav a:hover{
	background-color: black;

}

nav a.active{
	font-weight: bold;
}
main {

	background-color:#282c34;
	flex: 1 1 auto;
}

/* #tvscreen {
	position: relative;
	width: 100%;
	height: 90vh;
	margin: 20px 10px;
	background: darkgray;
	border-radius: 40% / 10%;
	color: white;
	text-align: center;
	text-indent: .1em;
   }
   #tvscreen:before {
	content: "";
	position: absolute;
	top: 10%;
	bottom: 10%;
	right: -5%;
	left: -5%;
	background: darkgray;
	border-radius: 5% / 50%;
   } */